.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(calc(50dvh - 30px), auto);
  gap: 5px;
  padding: 0px 5px;

  div {
    grid-row: 1/2;
  }

  &__title {
    margin-left: 100px;
    z-index: 30;
  }

  &__center {
    display: flex;
    align-items: center;
  }

  &__left {
    grid-column: 1/4;
  }

  &__right {
    grid-column: 3/-1;
  }
}
