.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(calc(50dvh - 30px), auto);
  gap: 5px;
  padding: 0px 5px;

  // width: auto;
 // inline-size: auto;
  // overflow-wrap: break-word;
  // overflow: hidden;
  // text-wrap: wrap;

  div {
    // grid-row: 1 works too
    word-wrap: break-word;

    grid-row: 1/2;
  }

  &__ml {
    // margin-left: 100px;
  }

  &__mt {
    margin-top: 100px;
  }

  &__center {
    display: flex;
    align-items: center;
  }

  &__left {
    grid-column: 1/4;
  }

  &__right {
    grid-column: 3/-1;
  }
}
