.c-background {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 2;
  pointer-events: none;
  background-color: orange;
  width: 100%;

  color: black;


  div {
    width: 40px;
    height: 40px;
    
  }

  div:last-child {
    width: var(--last-width);
    background-color: yellow;
  }
}
