.c-cover {
  display: flex;
  flex-direction: row-reverse;
  height: 100dvh;
  position: fixed;
  z-index: 3;
  pointer-events: none;

  &__column {
    width: 40px;
    &:last-child {
      width: var(--last-width);
      background-color: yellow;
    }
  }

  &__row {
    height: 40px;
  }

  &__block {
    background-color: greenyellow;
    height: 100%;
    width: 100%;

  }
}

.reveal-enter-active, .reveal-leave-active {
  transition: opacity var(--delay) 0.1s;
}
.reveal-enter, .reveal-leave-to {
  opacity: 0;
}