.c-header {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.burger {
  height: 100%;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  transition: all 0.5s cubic-bezier(0.05, 0.92, 0.58, 1);
  //look this up
  perspective: 150px;

  &__checkbox {
    // display: none;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    // background-color: black;
    div {
      // background-color: white;
    }
    .line-1 {
      transform: translateY(-1px);
    }
    .line-3 {
      transform: translateY(1px);
    }
  }

  &:active {
    background-color: black;
    transform: rotateY(180deg);
  }

  &__side {
    height: 100%;
  }

  &:active,
  &__side {
    color: white;
  }
}

.line {
  height: 2px;
  width: 20px;
  background-color: black;
  position: absolute;
  transition: all 0.8s cubic-bezier(0.05, 0.92, 0.58, 1);

  &.line-1 {
    top: 29.5%;
  }
  &.line-2 {
    top: 47.5%;
  }
  &.line-3 {
    top: 65.5%;
  }
}
