.c-header {
  // height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 35px;
  
  
  &__burger {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0px 10px;
    
    transition: all .5s cubic-bezier(0.05, 0.92, 0.58, 1);

    &:hover {
      cursor: pointer;
      background-color: black;
      gap: 7px;
      // transform: rotateY(180deg);
  
      div {
        background-color: white;
      }
    }  

    div {
      height: 2px;
      width: 20px;
      background-color: black;
    }
    

   
    }



}
