.c-header {
  max-width: 1280px;
  position: relative;
  

  &__bar {
    background-color: white;
    height: 5px;
    width: 100%;
    max-width: inherit; /* Inherit max-width from parent */
    position: fixed;
    top: 0;
  }
}

.burger-container {
  width: 100%;
  max-width: 1280px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: right;
}

.burger {
  position: fixed;
  height: 40px;
  width: 40px;
  z-index: 10;

  transition: all 0.8s cubic-bezier(0.05, 0.92, 0.58, 1);
  //look this up
  // perspective: 1500rem;

  :hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    .line-1 {
      transform: translateY(-1px);
    }
    .line-3 {
      transform: translateY(1px);
    }
  }

  &:active {
    // background-color: black;
    // transform: rotateY(180deg);
    .line {
      background-color: white;
      .line-1 {
        transform: translateY(1px);
      }
      .line-3 {
        transform: translateY(-1px);
      }
      &.line-4 {
        background-color: black;
      }
      &.line-5 {
        background-color: black;
      }
    }
  }

  &__side {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;

    &--front {
      color: black;
      background-color: #f9f9f9;
    }
    &--back {
      color: #f9f9f9;
      background-color: black;
      transform: rotateY(180deg);
    }
  }

  &__checked {
    .burger__side--front {
      transform: rotateY(180deg);
      transition: all 0.8s cubic-bezier(0.05, 0.92, 0.58, 1);
    }
    .burger__side--back {
      transform: rotateY(0);
      transition: all 0.8s cubic-bezier(0.05, 0.92, 0.58, 1);
    }
  }

  &:not(&__checked) {
    .burger__side--front {
      transform: rotateY(0);
      transition: all 0.8s cubic-bezier(0.05, 0.92, 0.58, 1);
    }
    .burger__side--back {
      transform: rotateY(180);
      transition: all 0.8s cubic-bezier(0.05, 0.92, 0.58, 1);
    }
  }
}

.line {
  height: 2px;
  width: 20px;
  background-color: black;
  position: absolute;
  transition: all 0.8s cubic-bezier(0.05, 0.92, 0.58, 1);

  &.line-1 {
    top: 29.5%;
  }
  &.line-2 {
    top: 47.5%;
  }
  &.line-3 {
    top: 65.5%;
  }

  &.line-4 {
    rotate: 45deg;
    background-color: white;
  }
  &.line-5 {
    rotate: -45deg;
    background-color: white;
  }
}
