.c-inverted-text {
  pointer-events: none;
  z-index: 2;


  &__underlap {
    position: relative;
    color: black;
    // clip-path: polygon(0 0, var(--size) 0, var(--size) 100%, 0% 100%);
    // width: calc(100vw - 100px);
    // width: inherit;
    // overflow-wrap: break-word;

   
  }

  &__overlap {
    position: absolute;
    color: white;
    top: 0;
    left: 0;

    // width: calc(100vw - 100px);   
    // width: inherit;
    //  overflow-wrap: break-word;
  }

  &__black-left {
    clip-path: polygon(var(--size) 0, 100% 0, 100% 100%, var(--size) 100%);
    // z-index: 2;
  }
  &__white-left {
    clip-path: polygon(0 0, var(--size) 0, var(--size) 100%, 0% 100%);
    // z-index: 2;
  }
}
