.c-inverted-text {    
      &__underlap {
        position: relative;
        color: black;
        clip-path: polygon(0 0, var(--size) 0, var(--size) 100%, 0% 100%);
        z-index: 1;
      }
      
      &__overlap {
        position: absolute;
        color: white;
      }
}