.c-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90dvh;
  width: 100%;
  max-width: 1280px;
  z-index: 4;
  
  p {
    font-size: 5vw;
    margin: 5px; 
    cursor: pointer;
    transition: color 0.3s; // Add transition effect

    &:hover {
      color: yellow; // Change text color to yellow on hover
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}
